{% import '_includes/forms.twig' as forms %}

{# Check for config file overrides #}
{% set configFileSettings = craft.app.config.getConfigFromFile('related-elements') %}

<div>
  {{ forms.lightswitchField({
    label: 'Enable template caching',
    instructions: 'Cache the sidebar HTML per element. Improves performance on repeat views but may serve stale results if Craft\'s data cache is not configured correctly.',
    name: 'enableTemplateCache',
    value: settings.enableTemplateCache,
    on: (settings.enableTemplateCache is defined) ? settings.enableTemplateCache : '',
    class: 'first',
    warning: configFileSettings.enableTemplateCache is defined ? 'This setting is being overridden by the "enableTemplateCache" setting in your related-elements.php config file.' : null,
    disabled: configFileSettings.enableTemplateCache is defined,
  }) }}

  {{ forms.lightswitchField({
    label: 'Display nested related elements',
    instructions: 'Whether to display the related elements that exist inside the CKEditor, Matrix or Neo fields of an element.',
    name: 'enableNestedElements',
    value: settings.enableNestedElements,
    on: (settings.enableNestedElements is defined) ? settings.enableNestedElements : '',
    class: 'first',
    warning: configFileSettings.enableNestedElements is defined ? 'This setting is being overridden by the "enableNestedElements" setting in your related-elements.php config file.' : null,
    disabled: configFileSettings.enableNestedElements is defined,
  }) }}

  {{ forms.lightswitchField({
    label: 'Show element type labels',
    instructions: 'Whether to display the element type labels (Entry, Category, Asset, Tag) next to each related element.',
    name: 'showElementTypeLabel',
    value: settings.showElementTypeLabel,
    on: (settings.showElementTypeLabel is defined) ? settings.showElementTypeLabel : '',
    warning: configFileSettings.showElementTypeLabel is defined ? 'This setting is being overridden by the "showElementTypeLabel" setting in your related-elements.php config file.' : null,
    disabled: configFileSettings.showElementTypeLabel is defined,
  }) }}

  {{ forms.textField({
    label: 'Initial limit',
    instructions: 'Number of related elements to show initially before requiring "Show More" to expand the list.',
    name: 'initialLimit',
    value: settings.initialLimit,
    type: 'number',
    min: 1,
    max: 100,
    size: 10,
    warning: configFileSettings.initialLimit is defined ? 'This setting is being overridden by the "initialLimit" setting in your related-elements.php config file.' : null,
    disabled: configFileSettings.initialLimit is defined,
  }) }}
</div>

